.col {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.card p {
    font-weight: bold;
}

.card p span {
    font-size: 15px;
}

.card p i {
    color: red;
}